section.athletes {
  padding-top: 80px;
  padding-bottom: 80px;
  overflow: hidden;

  @include breakpoint(medium) {
    padding-top: 150px;
    padding-bottom: 120px;
  }

  & > .grid-container {
    position: relative;
  }
  
  .athletes_header {
    display: block;
    text-align: center;

    p {
      font-size: 20px;
    }
  }

  .athletes_carousel {
    display: block;
    margin-top: 60px;

    .athletes_carousel-item {
      position: relative;
      height: 495px;

      .carousel_item-background {
        display: block;
        position: absolute;
        z-index: 1;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-size: cover;
        background-position: center center;
      }

      .carousel_item-hover {
        display: none;
      }

      .carousel_item-static {
        position: absolute;
        z-index: 2;
        bottom: 32px;
        left: 48px;
        right: 48px;

        h3 {
          color: white;
          font-size: rem-calc(20);
        }
      }
    }

    @include breakpoint(medium) {
      margin-top: 90px;

      .athletes_carousel-item {
        .carousel_item-hover {
          display: block;
          @include opacity(0);
          position: absolute;
          z-index: 3;
          top: 0px;
          left: 0px;
          right: 0px;
          bottom: 0px;
          padding: 32px 24px;
          background-color: rgba($gold, .9);

          h3{
            display: block;
            font-size: rem-calc(20);
            color: white;
          }

          p {
            font-size: 18px;
            color: white;
          }

          .carousel_item-open-modal {
            display: none;
            position: absolute;
            bottom: 32px;
            left: 24px;
            color: white;
          }
        }
        
        &:hover,
        &:focus {
          .carousel_item-hover {
            display: block;
            @include opacity(1);
          }

          .carousel_item-static {
            display: none;
          }
        }
      }
    }
  }

  .athletes_bg-element-1 {
    display: block;
    z-index: 1;
    position: absolute;
    top: 30%;
    left: -110px;
    height: 220px;
    width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/assets/img/athletes-bg-1.svg');

    @include breakpoint(medium) {

    }

    @include breakpoint(large) {
      height: 350px;
      width: 450px;
      left: -280px;
      top: 20%;
    }
  }

  .athletes_bg-element-2 {
    display: block;
    z-index: 1;
    position: absolute;
    bottom: -3%;
    right: -110px;
    height: 220px;
    width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/assets/img/athletes-bg-1.svg');

    @include breakpoint(medium) {

    }

    @include breakpoint(large) {
      height: 350px;
      width: 450px;
      right: -420px;
      top: 20%;
    }
  }

  .athletes_bg-element-3 {
    display: none;
    
    @include breakpoint(medium) {
      
    }

    @include breakpoint(large) {
      display: block;
      z-index: 1;
      position: absolute;
      height: 208px;
      width: 208px;
      bottom: -32px;
      right: 22%;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url('/assets/img/story-bg-2.svg');
    }
  }
}