.button {
  position: relative;
  font-weight: 700;

  .arrow {
    position: absolute;
    right: 4px;
    width: 30px;
    top: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-image: url('/assets/img/arrow-white.svg');
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: $pink-dark;
  }
}