section.contact {
  margin-top: 60px;
  margin-bottom: 90px;

  @include breakpoint(medium) {
    margin-top: 120px;
    margin-bottom: 145px;
  }

  .contact_grid {
    position: relative;
    @include breakpoint(medium) {
      @include flex-align(center, middle);
    }
  }

  .contact_form-container {
    text-align: center;

    .contact_form {
      text-align: left;
    }
  }

  .contact_content {
    @include breakpoint(large) {
      padding-left: 48px;
    }
  }
}