.about {
  position: relative;
  z-index: 3;
  padding-top: 90px;
  padding-bottom: 90px;
  background-size: cover;
  background-image: url('/assets/img/field_image.jpg');
  background-repeat: no-repeat;

  text-align: center;
  
  @include breakpoint(large) {
    background-attachment: fixed;
    top: -90px;
    padding-top: 180px;
    //padding-bottom: 180px;
    //clip-path: ellipse(100% 55% at 48% 44%);
  }

  h2 {
    color: white;
  }

  .about_sun-icon {
    margin-bottom: 32px;
  }
}