section.contact {
  position: relative;
  z-index: 5;
  background-color: rgba($green, .3);

  @include breakpoint(large) {
    margin-top: -30px;
  }
  .contact_form-container {
    @include border-box;
    position: relative;
    top: -80px;
    padding: 32px;
    background-color: $green;
    text-align: center;

    @include breakpoint(medium) {
      padding: 48px;
    }

    @include breakpoint(large) {
      padding: 72px;
    }

    h2 {
      color: white;
    }

    p {
      color: white;
    }

    .contact_form {
      margin-top: 48px;
      text-align: center;
    }
  }
}