section.contact {
  position: relative;
  z-index: 5;
  background-color: rgba($green, .3);
  background-image: url('/assets/img/tracks-3.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  @include breakpoint(large) {
    margin-top: -30px;
  }

  & > .grid-container {
    position: relative;
  }

  .bg-tree {
    @include tree(2, 48px, 5%, 88%);

    &:nth-of-type(2) {
      @include tree(1, 68px, 15%, 92%);
    }

    &:nth-of-type(3) {
      @include tree(2, 48px, 35%, 88%);
    }
  }

  .contact_form-container {
    @include border-box;
    position: relative;
    top: -80px;
    padding: 32px;
    background-color: $green;
    @include default-shadow;
    @include default-border;
    text-align: center;

    @include breakpoint(medium) {
      padding: 48px;
    }

    @include breakpoint(large) {
      padding: 72px;
    }

    h2 {
      color: white;
    }

    p {
      color: white;
    }

    .contact_form {
      margin-top: 48px;
      text-align: center;
    }
  }
}