.faqs {
  position: relative;
  padding-top: 100px;
  z-index: 2;
  top: -29px;
  padding-bottom: 180px;
  background-image: url('/assets/img/topography.png');
  background-size: contain;
  background-repeat: repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: $light-gray;
  clip-path: ellipse(149% 52% at 57% 52%);

  .faqs_header {
    margin-bottom: 60px;
    text-align: center;
  }
}