.hero {
  position: relative;
  z-index: 4;
  background-image: url('/assets/img/topographic_map.svg');
  background-size: contain;
  background-repeat: repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: white;
  padding-bottom: 50px;

  @include breakpoint(large) {
    padding-bottom: 100px;
    clip-path: ellipse(149% 58% at 71% 42%);
  }

  .hero_top {
    position: relative;
    padding-top: 90px;
    padding-bottom: 90px;
    text-align: center;
    
    .bg-tree {
      @include tree(1, 68px, 10%, 100%);
    }

    .hero_logo {
      width: 216px;
      margin-bottom: 90px;
    }
    h1 {
      display: none;
    }
    p {
      font-size: rem-calc(36);
      font-family: $header-font-family;
      line-height: 1.4em;
  
      @include breakpoint(medium) {
        font-size: rem-calc(56);
        max-width: 1027px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .hero_nav {
    text-align:center;
    .nav_item {
      display: inline-block;
      padding: 0px 24px;
      a {
        color: $body-font-color;
        font-size: rem-calc(14);
      }
    }
  }

  .hero_image {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0px;
    right: 0px;
    bottom: -32px;
    left: 50%;
    background-image: url('/assets/img/heroImage.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .hero_bottom {
    position: relative;
    margin: 0px auto;
    max-width: 1440px;
    padding-top: 60px;
    padding-bottom: 90px;
    background-image: url('/assets/img/tracks-1.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    @include breakpoint(large) {
      height: 300px;
      margin: 60px auto 0px auto;
      background-size: cover;
    } 

    .bg-tree {
      @include tree(1, 68px, 60%, 10%);

      &:nth-of-type(2) {
        @include tree(2, 48px, 55%, 13%);
      }
      
      &:nth-of-type(3) {
        @include tree(2, 48px, 15%, 83%);
      }

      &:nth-of-type(4) {
        @include tree(1, 68px, 20%, 85%);
      }

      &:nth-of-type(5) {
        @include tree(2, 48px, 18%, 88%);
      }
    }
    
    // .tracks-image {
    //   max-width: 1440px;
    //   width: 100%;
    //   margin: 0px auto;
    // }

    .info_card {
      @include border-box;
      @include flex-align(center, middle);
      max-width: 286px;
      margin-left: auto;
      margin-right: auto;
      padding: 14px 24px;
      @include default-border;
      @include default-shadow;
      background-color: white;
      text-align: center;
      
      .info_card-header {
        margin-bottom: 0px;
      }

      p {
        margin-bottom: 0px;
        font-size: rem-calc(12);

        &.info_card-description {
          margin-top: -2px;
          margin-bottom: 16px;
          font-size: rem-calc(9);
          font-weight: 700;
          color: $green;
        }
      }

      @include breakpoint(large) {
        position: absolute;
        top: 36%;
        left: 32%;
        //\@include translate(0, -50%);
        padding: 0px;

        .info_card-wrapper {
          position: relative;
          padding: 14px 24px;

          &:after {
            content: '';
            display: block;
            position: absolute;
            z-index: 2;
            top: 0px;
            left: 50%;
            @include translate(-50%, -50%);
            height: 18px;
            width: 18px;
            background-color: $pink;
            border-radius: 50%;
            border: 2px solid white;
          }

          &:before {
            content: '';
            display: block;
            position: absolute;
            z-index: 2;
            top: 0px;
            left: 50%;
            @include translate(-50%, -50%);
            height: 24px;
            width: 24px;
            background-color: $dark-gray;
            border-radius: 50%;
          }
        }
      }

      @include breakpoint(xlarge) {
        top: 36%;
        left: 34%;
      }

      @include breakpoint(xxlarge) {
        left: 35%;
      }
    }
  }
}

.hero_nav {
  .nav_item {
    a {
      position: relative;

      &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50px;
        height: 50px;
        border: 2px solid rgba(0,0,0,0.1);
        border-radius: 50%;
        content: '';
        opacity: 0;
        -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
        -moz-transition: -moz-transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s;
        -webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
        -moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
        transform: translateX(-50%) translateY(-50%) scale(0.2);
      }


      &:after {
        width: 50px;
        height: 50px;
        border-width: 6px;
        -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
        -moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
        transform: translateX(-50%) translateY(-50%) scale(0.8);
      }

      &:hover,
      &:focus {
        color: $primary-color;
        &:after {
          opacity: 1;
          -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
          -moz-transform: translateX(-50%) translateY(-50%) scale(1);
          transform: translateX(-50%) translateY(-50%) scale(1);
        }
      }
    }
  }
}

