.products {
  position: relative;
  z-index: 3;
  padding-top: 30px;

  & > .grid-container {
    position: relative;
  }

  .bg-tree {
    @include tree(1, 68px, 94%, 92%);

    &:nth-of-type(2) {
      @include tree(2, 48px, 99%, 99%);
    }
  }
  
  .products_header {
    margin-bottom: 48px;
    text-align: center;
  }

  .product_item {
    text-align: center;
    
    img {
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 32px;
      text-align: center;
    }

    .product_item-content {
      text-align: left;
    }

    h3 {
      margin-bottom: 0px;
    }

    p {
      &.product_description {
        margin-bottom: 32px;
      }
    }

    .product_sizing {
      display: block;
      margin-bottom: 32px;
      font-size: rem-calc(24);
      font-family: $header-font-family;
    }

    .product_meta {
      & > * {
        display: inline-block;
        vertical-align: middle;
      }

      .product_price {
        margin-right: 12px;
        font-size: rem-calc(22);
        font-weight: 700;
      }

      .button {
        margin-bottom: 0px;
      }
    }
  }

  .products_bottom {
    position: relative;
    max-width: 1440px;
    padding-top: 60px;
    padding-bottom: 90px;
    background-image: url('/assets/img/tracks-2.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    @include breakpoint(large) {
      height: 400px;
      margin: 0px auto 0px auto;
      background-size: cover;
    } 

    .bg-tree {
      @include tree(1, 48px, 60%, 0%);

      &:nth-of-type(2) {
        @include tree(2, 48px, 15%, 13%);
      }

      &:nth-of-type(3) {
        @include tree(2, 48px, 35%, 85%);
      }

      &:nth-of-type(4) {
        @include tree(1, 68px, 22%, 88%);
      }
    }
    
    .info_card {
      @include border-box;
      @include flex-align(center, middle);
      max-width: 286px;
      margin-left: auto;
      margin-right: auto;
      padding: 14px 24px;
      @include default-border;
      @include default-shadow;
      background-color: white;
      text-align: center;
      
      .info_card-header {
        margin-bottom: 0px;
      }

      p {
        margin-bottom: 0px;
        font-size: rem-calc(12);

        &.info_card-description {
          margin-top: -2px;
          margin-bottom: 16px;
          font-size: rem-calc(9);
          font-weight: 700;
          color: $green;
        }
      }

      @include breakpoint(large) {
        position: absolute;
        top: 45%;
        left: 52%;
        
        padding: 0px;

        .info_card-wrapper {
          position: relative;
          padding: 14px 24px;

          &:after {
            content: '';
            display: block;
            position: absolute;
            z-index: 2;
            top: 0px;
            left: 50%;
            @include translate(-50%, -50%);
            height: 18px;
            width: 18px;
            background-color: $pink;
            border-radius: 50%;
            border: 2px solid white;
          }

          &:before {
            content: '';
            display: block;
            position: absolute;
            z-index: 2;
            top: 0px;
            left: 50%;
            @include translate(-50%, -50%);
            height: 24px;
            width: 24px;
            background-color: $dark-gray;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

.product_reveal {
  background-image: url('/assets/img/topographic_map.svg');
  background-size: contain;
  background-repeat: repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: white;

  .grid-container {
    height: 100%;
  }
  .grid-x {
    height: 100%;
  }
  .content {
    @include border-box;
    padding: 32px;
    background-color: white;
    @include default-shadow;
    @include default-border;
    @include flex-align-self(middle);

    h2 {
      font-weight: 700;
    }
    .contact_info {
      text-align: center;
      a {
        font-size: rem-calc(14);
      }
      .icon {
        display: block;
        width: 32px;
        height: auto;
        margin: 0px auto 20px auto;
      }
    }
  }
}