<section class="athletes">
  <div class="grid-container">
    <div class="grid-x athletes_header">
      <div class="cell medium-8 medium-offset-2">
        <h2>The Athletes</h2>
        <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora…
        </p>
      </div>
    </div>

    <div class="grid-x">
      <div class="cell medium-12 athletes_carousel owl-carousel">
        <div class="athletes_carousel-item">
          <div class="carousel_item-background" style="background-image: url('/assets/img/nico-thumb.png');"></div>
          
          <div class="carousel_item-static">
            <h3>Nico Prien</h3>
          </div>
          
          <div class="carousel_item-hover">
            <h3>Nico Prien</h3>
            <p>
              Nico Prien is German windsurfer. Actually, Nico is the German Champion, competing as one of the only professionals at the national and world events during the same year.
            </p>
            <a class="carousel_item-open-modal open-modal">
              See more
            </a>
          </div>
        </div>

        <div class="athletes_carousel-item">
          <div class="carousel_item-background" style="background-image: url('/assets/img/nico-thumb.png');"></div>

          <div class="carousel_item-static">
            <h3>Maurice “Amazing” Stückenschneider</h3>
          </div>
          <div class="carousel_item-hover">
            <h3>Maurice Stückenschneider</h3>
            <p>
              Nico Prien is German windsurfer. Actually, Nico is the German Champion, competing as one of the only professionals at the national and world events during the same year.
            </p>
            <a class="carousel_item-open-modal open-modal">
              See more
            </a>
          </div>
        </div>

        <div class="athletes_carousel-item">
          <div class="carousel_item-background" style="background-image: url('/assets/img/nico-thumb.png');"></div>

          <div class="carousel_item-static">
            <h3>Elias “Upset” Lipp</h3>
          </div>
          <div class="carousel_item-hover">
            <h3>Elias Lipp</h3>
            <p>
              Nico Prien is German windsurfer. Actually, Nico is the German Champion, competing as one of the only professionals at the national and world events during the same year.
            </p>
            <a class="carousel_item-open-modal open-modal">
              See more
            </a>
          </div>
        </div>

        <div class="athletes_carousel-item">
          <div class="carousel_item-background" style="background-image: url('/assets/img/nico-thumb.png');"></div>
          
          <div class="carousel_item-static">
            <h3>Maurice “Amazing” Stückenschneider</h3>
          </div>
          <div class="carousel_item-hover">
            <h3>Maurice Stückenschneider</h3>
            <p>
              Nico Prien is German windsurfer. Actually, Nico is the German Champion, competing as one of the only professionals at the national and world events during the same year.
            </p>
            <a class="carousel_item-open-modal open-modal">
              See more
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  