<section id="athletes" class="athletes">
  <div class="grid-container">
    <div class="athletes_bg-element-1"></div>
    <div class="athletes_bg-element-2"></div>
    <div class="athletes_bg-element-3"></div>

    <div class="grid-x athletes_header">
      <div class="cell medium-8 medium-offset-2">
        <h2>The Athletes</h2>
        <p>
             
          We work together with: Athletes, Coaches Teams, Agencies, Organizational Professionals, and Parents. Simply put everyone who wants to take the next step to reach their full potential

        </p>
      </div>
    </div>

    <div class="grid-x">
      <div class="cell medium-12 athletes_carousel owl-carousel">
        <div class="athletes_carousel-item">
          <div class="carousel_item-background" style="background-image: url('/assets/img/nico.png');"></div>
          
          <div class="carousel_item-static">
            <h3>Nico Prien</h3>
          </div>
          
          <div class="carousel_item-hover">
            <h3>Nico Prien</h3>
            <p>
                "In windsurfing you don’t have trainers, you don’t get support from your club and you don’t have anybody guiding your way. For years I’ve been struggling with structuring my day and training program on a professional level. Thanks to Fabian’s help I’m finally getting more efficient with the things I have to get done on a daily basis and I now know better what things to focus on."
            </p>
            <a class="carousel_item-open-modal open-modal">
              See more
            </a>
          </div>
        </div>

        <div class="athletes_carousel-item">
          <div class="carousel_item-background" style="background-image: url('/assets/img/maurice.png');"></div>

          <div class="carousel_item-static">
            <h3>Maurice “Amazing” Stückenschneider</h3>
          </div>
          <div class="carousel_item-hover">
            <h3>Maurice Stückenschneider</h3>
            <p>
              "Being a sports psychologist by title is one thing, being one by heart is another. Very few people in the entire industry even come close to the work ethic, passion and compassion that Fabian carries over into every single day of work which enabled me to be the very best version of my professional self."
            </p>
            <a class="carousel_item-open-modal open-modal">
              See more
            </a>
          </div>
        </div>

        <div class="athletes_carousel-item">
          <div class="carousel_item-background" style="background-image: url('/assets/img/Elias.jpg');"></div>

          <div class="carousel_item-static">
            <h3>Elias “Upset” Lipp</h3>
          </div>
          <div class="carousel_item-hover">
            <h3>Elias “Upset” Lipp</h3>
            <p>
              "Always positive and supportive person, helping you reach your best performance and also a good and trustworthy friend."
            </p>
            <a class="carousel_item-open-modal open-modal">
              See more
            </a>
          </div>
        </div>

        <div class="athletes_carousel-item">
          <div class="carousel_item-background" style="background-image: url('/assets/img/steve.jpeg');"></div>
          
          <div class="carousel_item-static">
            <h3>Steve Voltz</h3>
          </div>
          <div class="carousel_item-hover">
            <h3>Steve Voltz</h3>
            <p>
              "Working with Fabian was a truly educational and enriching experience for our athletes and our coaching staff. His insight into the demands of a young university athlete helped not only them to address some of their struggles with a better understanding of themselves, but it also prepared us coaches to be better equipped in supporting our players."

            </p>
            <a class="carousel_item-open-modal open-modal">
              See more
            </a>
          </div>
        </div>

        <div class="athletes_carousel-item">
            <div class="carousel_item-background" style="background-image: url('/assets/img/lukas1.jpg');"></div>
  
            <div class="carousel_item-static">
              <h3>Lukas "Idealz" Schmandt</h3>
            </div>
            <div class="carousel_item-hover">
              <h3>Lukas "Idealz" Schmandt</h3>
              <p>
                  "From Fabian I have learned that esport is a mental game. It‘s not about the time you invest it‘s about the way you do things."
              </p>
              <a class="carousel_item-open-modal open-modal">
                See more
              </a>
            </div>
          </div>

          <div class="athletes_carousel-item">
            <div class="carousel_item-background" style="background-image: url('/assets/img/andri.jpg');"></div>
  
            <div class="carousel_item-static">
              <h3>Andri Runar</h3>
            </div>
            <div class="carousel_item-hover">
              <h3>Andri Runar</h3>
              <p>
                  "I started working with Fabian in the fall of 2016 and that is when my career truly begins. We started off with setting up goals, big and small goals. Some of them went on being part of my every day routine. We now talk every gameday and about once a week in addintion to that. If you want to become a better athlete and a better person then Fabian is the best there is to help you."
              </p>
              <a class="carousel_item-open-modal open-modal">
                See more
              </a>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
  