<section class="expertise">
  <div class="grid-container">
    <div class="grid-x expertise_header">
      <div class="cell medium-6 medium-offset-3">
        <h2>Our expertise lays in</h2>
        <p>
          There is no easy way to success        
        </p>
      </div>
    </div>

    <div class="grid-x">
      <div class="cell medium-10 medium-offset-1 expertise_items">
        <div class="grid-x grid-padding-x">
          <div class="cell medium-6 large-4 expertise_item">
            <img class="expertise_icon" src="/assets/img/flag.svg" />
            <h3 class="expertise_item-title">Goal Setting</h3>
          </div>
          
          <div class="cell medium-6 large-4 expertise_item">
            <img class="expertise_icon" src="/assets/img/rehabilitation.svg" />
            <h3 class="expertise_item-title">Injury Rehab</h3>
          </div>

          <div class="cell medium-6 large-4 expertise_item">
            <img class="expertise_icon" src="/assets/img/thinking.svg" />
            <h3 class="expertise_item-title">Stress Management</h3>
          </div>
          
          <div class="cell medium-6 large-4 expertise_item">
            <img class="expertise_icon" src="/assets/img/pressure-gauge.svg" />
            <h3 class="expertise_item-title">Performance Pressure</h3>
          </div>

          <div class="cell medium-6 large-4 expertise_item">
            <img class="expertise_icon" src="/assets/img/bed.svg" />
            <h3 class="expertise_item-title">Sleep Pattern</h3>
          </div>
          
          <div class="cell medium-6 large-4 expertise_item">
            <img class="expertise_icon" src="/assets/img/diet.svg" />
            <h3 class="expertise_item-title">Healthy Diets</h3>
          </div>
        </div>
      </div>
  </div>
</section>
  