<section class="faqs">
    <div class="grid-container">
      <span class="bg-tree"></span>
      <span class="bg-tree" data-rellax-speed="-.75"></span>
      <span class="bg-tree" data-rellax-speed=".5"></span>

      <div class="grid-x">
        <div class="medium-12 large-8 large-offset-2 cell faqs_header">  
          <h2>
            You shouldn’t need a PhD to find the right CBD product. Let Harvey help!          
          </h2>
        </div>

        <div class="medium-12 large-8 large-offset-2 cell">  
          <ul class="accordion" data-accordion data-allow-all-closed="true">
            <li class="accordion-item" data-accordion-item>
              <!-- Accordion tab title -->
              <a href="#" class="accordion-title">What is CBD and how does it work?</a>
          
              <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
              <div class="accordion-content" data-tab-content>
                <p>Panel 1. Lorem ipsum dolor</p>
                <a href="#">Nowhere to Go</a>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item>
              <!-- Accordion tab title -->
              <a href="#" class="accordion-title">I’ve heard CBD can cure everything from hangovers to cancer? What gives?</a>
          
              <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
              <div class="accordion-content" data-tab-content>
                <p>Panel 1. Lorem ipsum dolor</p>
                <a href="#">Nowhere to Go</a>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item>
              <!-- Accordion tab title -->
              <a href="#" class="accordion-title">What are terpenes and why do they matter?</a>
          
              <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
              <div class="accordion-content" data-tab-content>
                <p>Panel 1. Lorem ipsum dolor</p>
                <a href="#">Nowhere to Go</a>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item>
              <!-- Accordion tab title -->
              <a href="#" class="accordion-title">Some CBD products say “Broad Spectrum” others“Full Spectrum” Which one better?</a>
          
              <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
              <div class="accordion-content" data-tab-content>
                <p>Panel 1. Lorem ipsum dolor</p>
                <a href="#">Nowhere to Go</a>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item>
              <!-- Accordion tab title -->
              <a href="#" class="accordion-title">Hemp Flower Oil or Hemp Seed Oil? Isn’t is all hemp?</a>
          
              <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
              <div class="accordion-content" data-tab-content>
                <p>Panel 1. Lorem ipsum dolor</p>
                <a href="#">Nowhere to Go</a>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item>
              <!-- Accordion tab title -->
              <a href="#" class="accordion-title">Where is Harvey’s All Natural’s grown and processed?</a>
          
              <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
              <div class="accordion-content" data-tab-content>
                <p>Panel 1. Lorem ipsum dolor</p>
                <a href="#">Nowhere to Go</a>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item>
              <!-- Accordion tab title -->
              <a href="#" class="accordion-title">Become a member of the Harvey’s Promise</a>
          
              <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
              <div class="accordion-content" data-tab-content>
                <p>Panel 1. Lorem ipsum dolor</p>
                <a href="#">Nowhere to Go</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>