<footer class="global">
  <div class="footer_upper">
    <div class="grid-container">
      <div class="grid-x footer_grid">
        <div class="cell small-12 medium-5 footer_logo">
          <img src="/assets/img/logo-dark.svg"/>
        </div>
        
        <div class="cell small-12 medium-3 medium-offset-1 footer_menu">
          <a class="nav_link menu-item" href="#expertise">Achievements</a>
          <a class="nav_link menu-item" href="#origin">The Origin</a>
          <a class="nav_link menu-item" href="#athletes">Athletes</a>
          <a class="nav_link menu-item" href="#news">Press</a>
        </div>
       
        <div class="cell small-12 medium-3 footer_social">
          <h4>Connect With Me</h4>
          <nav class="social">
            <a href="#"><i class="social_item facebook"></i></a>
            <a href="https://www.instagram.com/esportspsychology/"><i class="social_item instagram"></i></a>
            <a href="https://twitter.com/SportsPsycFaBro"><i class="social_item twitter"></i></a>            
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_copyright">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell large-12">
          <p>© 2019 Achievemind</p>
        </div>
      </div>    
    </div>
  </div>
</footer>