<footer class="global">
  <div class="footer_upper">
    <div class="grid-container">
      <div class="grid-x footer_grid">
        <div class="cell small-12 medium-9 footer_menu align-left">
          <a class="nav_link menu-item" href="#">The Harveys Difference</a>
          <a class="nav_link menu-item" href="#">Our Products</a>
          <a class="nav_link menu-item" href="#">CBD FAQs</a>
          <a class="nav_link menu-item" href="#">Talk To Us</a>
        </div>
        
        <div class="cell small-12 medium-3 footer_logo">
          <img src="/assets/img/logo.svg"/>
        </div>
      </div>

      <div class="grid-x footer_disclaimer">
        <div class="cell small-12">
          <h3>Disclaimer</h3>
          <p>
            These statements on this website have not been evaluated by the FDA and are not intended to diagnose, treat or cure any disease. Always check with your physician before starting a new dietary supplement program. HarveysAllNaturals.com does not sell or distribute any products that are in violation of the United States Controlled Substances Act (US.CSA) Harvey’s All Naturals, LLC grows, sells, and distributes hemp based products. 
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_copyright">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell large-12">
          <p>© 2019 Harvey’s All Naturals | Privacy Policy</p>
        </div>
      </div>    
    </div>
  </div>
</footer>