<header class="global">
  <div class="grid-container">
    <div class="top-bar">
      <div class="header_logo">
        <img src="/assets/img/logoNew.svg" />
      </div>
      <div class="top-bar-left align-left">
        <img class="logo-dark align-left" src="/assets/img/logoNew-dark.svg" />
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a class="nav_link" href="#expertise">Achieveminds</a></li>
          <li><a class="nav_link" href="#origin">Origin</a></li>
          <li><a class="nav_link" href="#athletes">Athletes</a></li>
          <li><a class="nav_link" href="#news">Press</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>