<section class="hero">
    <div class="hero_image show-for-medium"></div>
    <div class="hero_bg-element"></div>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
          <h1>From healthy lifestyle to peak performance</h1>
          <img class="hero_mobile-image" src="/assets/img/mobile-hero-image.png" />
        </div>
      </div>
  
      <div class="grid-x">
        <div class="large-9 small-10 cell hero_content">
          <div class="hero_content-text">
            <p>
              We believe that the satisfaction within the person as well as their perception and lifestyle are the foundation of success. We want to get the best out of the client in order to have a more efficient, healthy and successful life.
            </p>
          </div>
          <div class="hero_contact">
            <a href="#contact" class="nav_link hero_link">Contact Me</a>
          </div>
        </div>
      </div>
    </div>
  </section>