<section class="hero">
  <div class="grid-container">
    <div class="grid-x hero_top">
      <span class="bg-tree"></span>
      <div class="medium-12 cell">
        <img class="hero_logo" src="/assets/img/logo.svg" />

        <p> Harvey’s All Naturals provides premium farm-to-table full spectrum CBD products, derived from only the best quality hemp flower oil.</p>
      </div>
    </div>

    <div class="grid-x hero_nav">
      <div class="medium-12 cell">
        <nav>
          <div class="nav_item">
            <a href="#">The Harveys Difference</a>
          </div>
          <div class="nav_item">
            <a href="#">Our Products</a>
          </div>
          <div class="nav_item">
            <a href="#">CBD FAQs</a>
          </div>
          <div class="nav_item">
            <a href="#">Talk To Us</a>
          </div>
        </nav>
      </div>
    </div>
  </div>


  <div class="grid-x hero_bottom">
    <span class="bg-tree" data-rellax-speed=".5"></span>
    <span class="bg-tree" data-rellax-speed="-.5"></span>
    <span class="bg-tree" data-rellax-speed=".25" ></span>
    <span class="bg-tree" data-rellax-speed="-.25"></span>
    <span class="bg-tree"></span>
    <!-- <img src="/assets/img/tracks-1.svg" class="tracks-image"/> -->
    <div class="small-8 small-offset-2 medium-4 medium-offset-4 cell">
      <div class="info_card">
        <div class="info_card-wrapper">
          <img class="info_card-header" src="/assets/img/leadville_heading.svg" />
          <p class="info_card-description">Settled 1859 / Population 2759</p>
          <p>Once one of the most lawless towns in the West, Leadville is now the home of Harvey’s All Naturals.</p>
        </div>
      </div>
    </div>
  </div>
</section>