<section class="products">
  <div class="grid-container">
    <span class="bg-tree"></span>
    <span class="bg-tree" data-rellax-speed=".5"></span>
    <div class="grid-x grid-margin-x">
      <div class="medium-10 medium-offset-1 cell products_header" data-equalizer data-equalize-on="medium">
        <h2>
          Harvey's CBD Products
        </h2>
        <p>
            We use only the purest help flower oil to create our full spectrum, premium CBD products.
        </p>
      </div>

      <div class="medium-5 cell product_item" data-equalizer-watch>
        <img src="/assets/img/elixer-product-shot-1.jpg"/>
        <div class="product_item-content">
          <h3>Harvey's CBD Elixer</h3>
          <span class="product_sizing">500mg CBD Oil / 0.5 oz</span>
          <p class="product_description" data-equalizer-watch>
              Our elixir is a concentrated full spectrum hemp flower oil infused with grape seed oil to improve bioavailability. Cold processing maintains the natural terpenes and secondary cannabidiols to create a high-quality product. Just a few drops per day can have amazing results. 
          </p>

          <p class="product_description" data-equalizer-watch>
              Best for alleviating stress and anxiety, treating depression, insomnia, and even hangovers.
          </p>
          <div class="product_meta">
            <span class="product_price">$29.99</span>
            <a href="#" data-toggle="reveal-product" class="button">Purchase <i class="arrow"></i></a>
          </div>
        </div>
      </div>

      <div class="medium-5 medium-offset-2 cell product_item" data-equalizer-watch>
        <img src="/assets/img/salve-product-shot-1.jpg"/>
        <div class="product_item-content">
          <h3>Harvey's CBD Healing Salve</h3>
          <span class="product_sizing">500mg CDB Oil / 1.0 oz</span>
          <p class="product_description" data-equalizer-watch>
              For fast improvement to areas of pain and discomfort, just apply and let our high quality, full spectrum hemp flower oil do its thing. Our recipe is simple, using all-natural ingredients the way Mother Nature intends.          
          </p>

          <p class="product_description" data-equalizer-watch>
              Best for fighting inflammation and treating arthritis, joint pain, rheumatism, muscle tension, and so much more!
          </p>          
          
          <div class="product_meta">
            <span class="product_price">$29.99</span>
            <a href="#" data-toggle="reveal-product" class="button">Purchase <i class="arrow"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-x products_bottom">
    <span class="bg-tree"></span>
    <span class="bg-tree" data-rellax-speed="-.5"></span>
    <span class="bg-tree" data-rellax-speed="-.25"></span>
    <span class="bg-tree" data-rellax-speed=".25"></span>

    <div class="small-8 small-offset-2 medium-4 medium-offset-4 cell">
      <div class="info_card animated delay-1s">
        <div class="info_card-wrapper">
          <img class="info_card-header" src="/assets/img/harvey_headline.svg" />
          <p class="info_card-description">Yes! Harvey is a real person.</p>
          <p>He created Harvey’s All Naturals in 2015, guiding other small farms in responsible hemp production and educating the community on the benefits of the plant. When not on the farm, Harvey enjoy spending time in the mountains with his family, playing his mandolin, and making people happy.</p>
          <img class="info_thumb" src="/assets/img/harvey.png" />
        </div>
      </div>
    </div>
  </div>

  <div class="full reveal product_reveal" id="reveal-product" data-reveal data-animation-in="slide-in-up" data-animation-out="slide-out-down">
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell medium-8 medium-offset-2 large-6 large-offset-3 content">
          <h2 class="title">How to Purchase Harvey’s</h2>
          <p>We’ll be selling Harvey’s products online soon, but until then, here’s how to get your hands on the goods.</p>

          <div class="contact_info grid-x">
            <div class="cell medium-7">
              <img src="/assets/img/icon-email.svg" class="icon"/>
              <a href="mailto:harveysallnaturalscontact@gmail.com" target="_blank">harveysallnaturalscontact@gmail.com</a>
            </div>
            <div class="cell medium-5">
              <img src="/assets/img/icon-phone.svg" class="icon"/>
              <a href="tel:+9703764689 " target="_blank">970-376-4689 </a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>