<section class="story">
  <div class="story_image show-for-medium"></div>

  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell story_content">
        <h2>The Origin Story</h1>
        <p>
          Starting my sports career with table tennis achanging to football starting as a bench player to become a starter to make it to semi-pros and professional goalkeeper.During his journey he had the privilege to play in 12 clubs, 3 countries and 2 continents. His experiences showed him the competitiveness and mentality on first hand experiences. Even though through his achievements, there were many setbacks and obstacles. These issues made him curious about the mental side of the game, to improve sleep, nutrients, regeneration and practice which led to a BA degree in Psychology (US) and Sports Psychology Master (Germany)          
        </p>
        <img class="story_mobile-image" src="/assets/img/story_image.png" />
      </div>
    </div>
  </div>
</section>